html{
    background-color: black;
}
body {
    overflow:hidden;
}
canvas {
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
}

/*green larg font for player score */
.scoreCount{
    color: green;
    font-size: 200%;
    width:-100px;
}
.scoreCountCenter{
    color: green;
    font-size: 200%;
    width:100px;
    text-align: center;
}

.timeRemaining{
    color: red;
    font-size: 200%;
}
.scoreTable{
    float: left;
    clear:left;
}



/*gif for transitions*/
.transition{
    width: 100%;
    height: 100%;	
}

input[type=radio] {
    border: 0px;
    width: 5em;
    height: 5em;
    cursor: crosshair; 
}

input[type=radio]:active {
    cursor: cell;  
}



/****************************************** Game Menu Stuff*************************************/

.dropdown {
    position: relative;

    /** Make it fit tightly around it's children */
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}

.dropdown:hover .dropdown-menu {

    /** Show dropdown menu */
    display: block;
}



.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;


    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #e74c3c;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.4em 0.8em;
    font-size: 1em;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: #CCCCCC;
    color: #333333;
    width: 150px;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #BBBBBB;
}


.dropDownItem{

    padding-left: 10px;
    margin-bottom: 100px; //being ignored FIX LATER

}
#scoreTable{
    margin-top: 1em;
    border: solid white;
    color: white;
}



/*END************************************** Game Menu Stuff******************************END****/

.decoyCoin{
    color:white;
    float: right;
    padding-right: 2%;
}

 #finalScoreWas{
                font-size: 3em;
                position: absolute;
                color: white;
                display: inline-block;  
                list-style-type: none;
            }
            
            .bonusText{
                margin-left: 7em;
            }   
